@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-principal: #8696FE;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
  }
  
  body{
    background-color: var(--cor-principal);
  }
  

header {
    position: sticky;
    top: auto;
    background-color: var(--cor-secundaria);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.navbar__itens {
    display: flex;
    align-items: center;
    padding: 1.5rem 6rem;
    justify-content: space-between;
}
.navbar__itens__links {
    display: flex;
    padding: 0% 3% 0% 15%;
    gap: 80px;   
    list-style: none;
}
.navbar__itens__links a{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.25rem;
    font-size: 20px;
}
.navbar__mobile__menu {
    display: none;
}
.navbar__menu__butao {
    display: none;
}



/*Sobre*/
.sobre {
    display: flex;
    flex-direction: column;
}
.sobre__nome {
    font-size: 8rem;
}
.sobre__nome strong {
    color: var(--cor-secundaria);
}
.sobre__contatos {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}
.sobre__texto {
    font-size: 1.25rem;
}
.sobre__itens {
    padding-top: 1.25rem; 
}
.sobre__itens img{
    width: 5rem;
    padding-left: 1.25rem;
}
.sobre__itens img:hover {
    width: 5.5rem;
}

.bloco {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    border-bottom: 2px solid var(--cor-secundaria);
    padding: 1.25rem;
}
.data {
    font-weight: bold;
}


.habilidades {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.habilidades__imagens img{
    width: 5rem;
    padding: 0.8rem;
}
.habilidades__imagens img:hover {
    width: 5.5rem;
}
.habilidades__idiomas {
    display: flex;
    flex-direction: column;
    color: var(--cor-secundaria);
}
.habilidades h5 {
    padding-bottom: 15px;
}
.habilidades__idiomas p {
    padding-bottom: 15px;
    font-size: 1.25rem;
}

.cursos__link__links{
    padding: 0% 0% 0% 5%;
    justify-content: center;
}
.cursos__link__links li{
    list-style-image: url(/img/code.png);
}
.cursos__link__links li:hover {
    text-decoration: underline var(--cor-secundaria);
}
.cursos__link__links li a{
    text-decoration: none;
    color: var(--cor-secundaria);
}


section {
    border-bottom: 2px solid var(--cor-secundaria);
    font-family: 'Inter', sans-serif;
    padding: 10%;
}

.container {
    margin: 5%;
}
.container h2 {
    font-size: 4rem;
    padding-bottom: 1.25rem;
}
.container h4 {
    font-size: 2rem;
}

.container h5 {
    font-size: 1.25rem;
}
.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    padding: 28px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.navbar__itens h1:hover {
    color: var(--cor-principal);
}
.navbar__itens a:hover {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--cor-principal);
}

@media screen and (max-width: 730px) {

    

    .navbar__itens {
        padding: 1.5rem 4rem;
    }
    .navbar__itens__links {
        display: none;
    }
    .navbar__menu__butao {
        display: block;
    }
    .navbar__menu__butao button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .navbar__mobile__menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .navbar__mobile__menu .nav-item{
        display: block;
        padding-top: 1.2rem;
        
    }
    .navbar__mobile__menu .nav-item a {
        text-decoration: none;
        color: var(--cor-terciaria);
    }
    .open {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
